#pandawpblog,
#pandawpblog--category {
  padding: 60px 0;
  background-color: #FFFFFF;
}

#pandawpblog .text-wrapper,
#pandawpblog--category .text-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

#pandawpblog .text-wrapper h2,
#pandawpblog--category .text-wrapper h2 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 130%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
}

#pandawpblog .text-wrapper hr,
#pandawpblog--category .text-wrapper hr {
  background-color: #0084ff;
  width: 100px;
  height: 2px;
  margin: auto;
}

#pandawpblog .row,
#pandawpblog--category .row {
  align-items: stretch;
}

#pandawpblog .card,
#pandawpblog--category .card {
  border: none;
  background-color: #F6F8FB;
  height: 100%;
}

#pandawpblog .card .wrapper-img,
#pandawpblog--category .card .wrapper-img {
  position: relative;
}

#pandawpblog .card .wrapper-img img,
#pandawpblog--category .card .wrapper-img img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

#pandawpblog .card .wrapper-img p,
#pandawpblog--category .card .wrapper-img p {
  background-color: #0084ff;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 5px 6px;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 4px;
}

#pandawpblog .card .card-body,
#pandawpblog--category .card .card-body {
  padding: 20px;
}

#pandawpblog .card .card-body .row-details,
#pandawpblog--category .card .card-body .row-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

#pandawpblog .card .card-body .row-details .date,
#pandawpblog .card .card-body .row-details .autor,
#pandawpblog--category .card .card-body .row-details .date,
#pandawpblog--category .card .card-body .row-details .autor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#pandawpblog .card .card-body .row-details .date p,
#pandawpblog .card .card-body .row-details .autor p,
#pandawpblog--category .card .card-body .row-details .date p,
#pandawpblog--category .card .card-body .row-details .autor p {
  font-size: 13px;
  margin-left: 5px;
  color: #121231;
  margin-bottom: 0;
}

#pandawpblog .card .card-body .row-details .date,
#pandawpblog--category .card .card-body .row-details .date {
  margin-right: 24px;
  position: relative;
}

#pandawpblog .card .card-body .row-details .date::after,
#pandawpblog--category .card .card-body .row-details .date::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #E5484D;
  border-radius: 4px;
}

#pandawpblog .card .card-body .card-title,
#pandawpblog--category .card .card-body .card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: 700;
  color: #121231;
}

@media (max-width: 1599px) {
  #pandawpblog .card .card-body .card-title,
  #pandawpblog--category .card .card-body .card-title {
    font-size: 16px;
  }
}

@media (max-width: 989px) {
  #pandawpblog .card .card-body .card-title,
  #pandawpblog--category .card .card-body .card-title {
    font-size: 14px;
  }
}

#pandawpblog .card .card-body .card-text,
#pandawpblog--category .card .card-body .card-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #121231;
  margin-top: 10px;
}

@media (max-width: 1599px) {
  #pandawpblog .card .card-body .card-text,
  #pandawpblog--category .card .card-body .card-text {
    font-size: 14px;
  }
}

@media (max-width: 989px) {
  #pandawpblog .card .card-body .card-text,
  #pandawpblog--category .card .card-body .card-text {
    font-size: 12px;
  }
}

#pandawpblog .card .card-body .read-more,
#pandawpblog--category .card .card-body .read-more {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #0084ff;
  text-decoration: none;
}

#pandawpblog .card .card-body .read-more:hover,
#pandawpblog--category .card .card-body .read-more:hover {
  text-decoration: underline;
}

#pandawpblog--category {
  background-color: transparent;
}

#pandawpblog--category .card {
  background-color: #FFFFFF;
}

#module-panda_blog-post .card {
  border: none;
  background-color: #FFFFFF;
  height: fit-content;
  margin-bottom: 10px;
}

#module-panda_blog-post .card .wrapper-img {
  position: relative;
}

#module-panda_blog-post .card .wrapper-img img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

#module-panda_blog-post .card .wrapper-img p {
  background-color: #0084ff;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 5px 6px;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 4px;
}

#module-panda_blog-post .card .card-body {
  padding: 20px;
}

#module-panda_blog-post .card .card-body .row-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

#module-panda_blog-post .card .card-body .row-details .date,
#module-panda_blog-post .card .card-body .row-details .autor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#module-panda_blog-post .card .card-body .row-details .date p,
#module-panda_blog-post .card .card-body .row-details .autor p {
  font-size: 13px;
  margin-left: 5px;
  color: #121231;
  margin-bottom: 0;
}

#module-panda_blog-post .card .card-body .row-details .date {
  margin-right: 24px;
  position: relative;
}

#module-panda_blog-post .card .card-body .row-details .date::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #E5484D;
  border-radius: 4px;
}

#module-panda_blog-post .card .card-body .card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: 700;
  color: #121231;
}

@media (max-width: 1599px) {
  #module-panda_blog-post .card .card-body .card-title {
    font-size: 16px;
  }
}

@media (max-width: 989px) {
  #module-panda_blog-post .card .card-body .card-title {
    font-size: 14px;
  }
}

#module-panda_blog-post .card .card-body .card-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #121231;
  margin-top: 10px;
}

@media (max-width: 1599px) {
  #module-panda_blog-post .card .card-body .card-text {
    font-size: 14px;
  }
}

@media (max-width: 989px) {
  #module-panda_blog-post .card .card-body .card-text {
    font-size: 12px;
  }
}

#module-panda_blog-post .card .card-body .read-more {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #0084ff;
  text-decoration: none;
}

#module-panda_blog-post .card .card-body .read-more:hover {
  text-decoration: underline;
}

#module-panda_blog-post article .post-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #121231;
}

#module-panda_blog-post article .post-meta {
  display: flex;
  flex-direction: row;
}

#module-panda_blog-post article .post-date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 13px;
  margin-left: 5px;
  color: #121231;
  margin-bottom: 0;
  margin-right: 16px;
  position: relative;
}

#module-panda_blog-post article .post-date p {
  margin-bottom: 0;
}

#module-panda_blog-post article .post-date::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #E5484D;
  border-radius: 4px;
}

#module-panda_blog-post article .post-date svg {
  margin-right: 5px;
}

#module-panda_blog-post article .post-author {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 13px;
  margin-left: 5px;
  color: #121231;
  margin-bottom: 0;
}

#module-panda_blog-post article .post-author a {
  color: #121231;
}

#module-panda_blog-post article .post-author svg {
  margin-right: 5px;
}

#module-panda_blog-post article .post-content .post-title a {
  font-weight: 700;
  color: #121231;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

#module-panda_blog-post .post-share {
  border-top: 1px solid #CBCBCB;
  padding-top: 15px;
}

#module-panda_blog-post .post-share a:hover {
  text-decoration: none;
}

#module-panda_blog-post .post-share .share-label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0%;
}
